.nav-trigger{
	position: absolute;
    top: 10px;
    right: 20px;
    height: 44px;
    width: 44px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: #FFFFFF;
    border-radius: 3px;
}
.alogo img{
	width: 70px;
	margin-bottom: 14px;
	margin-left: 10px;
}
.cd-morph-dropdown {
    position: relative;
    width: 100%;
    display: none;   
}
.morph-dropdown-wrapper{
	background: #13181D;
	padding:0 20px;
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 56px;
	width: 100%;
	height: calc(100vh - 58px);
	overflow-y: scroll;
}
.morph-dropdown-wrapper .content li dl {
    font-size: 14px;
    padding-left: 20px;
}
.cd-morph-dropdown .nav-trigger span {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 26px;
}
.cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.cd-morph-dropdown .nav-trigger span::after {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    transform: translateY(9px);
}
.cd-morph-dropdown .nav-trigger span::before {
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    transform: translateY(-9px);
}
header {
    padding: 10px 0px;
}
.morph-dropdown-wrapper .content li {
    line-height: 48px;
}
.morph-dropdown-wrapper .content li a {
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #3F3F42;
    display: block;
}
/* 适配移动端 */
@media screen and (max-width: 450px) , (min-width:456px) and (max-width:768px){
	.cd-morph-dropdown{
		display: block;
	}
	/* 头部的自适应 */
	.form-wrap,.pc-header {
	    display: none;
	}

	.index_tab .layui-tab-item .item>img{
		width: 100%;
		margin:0 auto;
	}
	.content-index .tit{
		width: 100%;
	}
	.header_play{
		height: 73vw !important;
	}
	.jt-banner-font{
		font-size: 16px;
	}
	.square-dotted {
	    width: 0.5rem;
	    height: 0.5rem;
	    margin: 0 1rem 0.5rem;
	}
	.tab-second-item{
		display: none;
	}
	.jt-banner-pic>div{
		width: 60%;
		margin-left:35%;
	}
	.jt-banner-pic>div>img{
		width:100%;
	}
	/*能加空间*/
	
	/* 写字楼租赁 */
	.swiper-container{
		display: block;
	}
	.scaling-wrap>li>div img{
		width: 100%;
		height: auto;
	}
	.swiper-container{
		height: auto
	}
	/*共同选择*/
	.card-wrap{
		/*overflow-x: scroll;*/
		overflow-x: scroll;
		&::-webkit-scrollbar{
	        background-color:#ccc;
	    }
	}
	.card-wrap>div{
		flex-wrap: nowrap;
	}
	.card-wrap .card-list{
		margin-right: 20px !important;
	}
	/* 主推房间 */
	.room_play{
		height: 480px !important;
	}
	.room-content{
		flex-wrap: wrap;
	}
	.room-content>div{
		width: 100% !important;
	}
	.room_grid_play{
		width: 100% !important;
		 height: 186px !important; 
	}
	.room_grid_play img{
		width: 100%;
		height: auto !important;
	}
	.room-content .detil-right {
	    padding: 12px 34px 0px;
	}
	.room-content .detil-right .top>div:nth-child(2){
		margin-top: 0px;
	}
	.address-wrap{
		margin-right: 4%;
		margin-left: 4%;
	}
	/*page的房间图文*/
	.room {
		flex-wrap: wrap !important;
	}
	.content-container .cont-wrap{
		padding: 0 20px;
	}
	.scaling-wrap-2>li:nth-child(2n+2){
		margin-right: 0px;
	}
	.traffic .describe-content ul{
		padding-right: 20px;
	}
	.cont-wrap .describe-content{
		flex-wrap: wrap;
	}
	.describe-content .map-wrap{
		width: 100%
	}
	.banner-page{
		height: 273px;
	}
	.room >li{
		width: 100%;
		margin-right: 0px;
	}
	.tab-fixed{
		padding-left: 20px;
	}
	.tab-fixed .layui-tab-title li{
		margin-right: 28px;
	}
	.cont-wrap h4{
		margin-top: 0
	}
	.big_play{
		width: 100%;
		margin-left: -50%;
    	/*margin-: -50%*/
	}
	#big_play{
		height: 240px !important;
	}
	.big_play img{
		width: 100%;
	}
	.big_play .layui-carousel[lay-arrow=always] .layui-carousel-arrow[lay-type=add]{
		    right: 0;
	}
	.big_play .layui-carousel[lay-arrow=always] .layui-carousel-arrow {
    	left: 0; 
	}
	.mark{
		opacity: 1
	}
	.btn-close{
		right: 0;
	}
	/*footer*/

	.footer{
		padding-bottom: 72px;
	}
	.us-msg,.foot-cont {
		padding:0 20px;
	}
	.us-msg{
		margin-top: 14px;
	}
	.us-msg li{
		min-width: none !important;
		box-sizing: border-box;
	}
	.foot-cont .foot-links{
		margin-top:20px;
	}
	.foot-links>li>span {
		display: inline-block;
	}
	.mobile-btn-wrap{
		display: block;
	}
	.us-msg .weixin{
		right: 0;
	}
	
	/*关于我们*/
	.us-banner{
		height: 220px ;
	}
	.about-us{
		padding-top: 20px;
	}
	.us-banner img{
		width: 100%;
		height: auto;
	}
	.about-us .layui-row{
		margin-bottom: 40px;
	}
}
/* 适配ipad等屏幕 */
@media screen and (min-width:456px) and (max-width:768px){
	.room_play {
     height: 744px !important; 
	}
	.banner-page{
		height: 570px;
	}
	#big_play{
		height: 570px !important;
	}
	.room_grid_play{
		width: 100% !important;
		height: 372px !important; 
	}
	.room-content .detil-right {
	   padding: 44px 60px 0px;
	}
	.room-content .detil-right .top>div:nth-child(2){
		margin-top: 16px;
	}
	.swiper-container{
		height: 660px;
	}

}
/* 适配中等屏幕 */
@media screen and (min-width:769px) and (max-width: 1200px) {
	.mobile-form-wrap{
		display: none;
	}
	.content-container{
		padding: 0 20px;
	}
	.traffic .describe-content ul{
		padding-right: 20px;
	}
	.card-wrap .card-list{
		margin-right: 20px !important;
	}
	.room >li{
		width: 14%;
		margin-right: 2%;
	}
}
@media screen and (min-width:1201px) and (max-width: 1367px){
	#big_play{
		height: 500px !important;
	}
}